@charset "UTF-8";
/* 
	컬러 사용 법!
	color('COL_gs02') // bg white 일 때
	color('COL_gs02' , 'dark") // bg black 일 때
*/
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
.nodata .car::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.nodata .bell::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -60px 0;
  background-repeat: no-repeat;
}
.nodata .qna::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -120px 0;
  background-repeat: no-repeat;
}
.nodata .review::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -180px 0;
  background-repeat: no-repeat;
}
.nodata .promotion::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -240px 0;
  background-repeat: no-repeat;
}
.nodata .point::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -300px 0;
  background-repeat: no-repeat;
}
.nodata .payment::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -360px 0;
  background-repeat: no-repeat;
}
.nodata .addcar::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(/GHQ/p/img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -420px 0;
  background-repeat: no-repeat;
}

.info_cs03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.info_contactus03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -36px 0;
  background-repeat: no-repeat;
}
.info_notice03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -72px 0;
  background-repeat: no-repeat;
}
.info_chatbot03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -108px 0;
  background-repeat: no-repeat;
}
.info_purchase03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -144px 0;
  background-repeat: no-repeat;
}
.info_phone03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -180px 0;
  background-repeat: no-repeat;
}
.info_notice_car03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -216px 0;
  background-repeat: no-repeat;
}
.info_cuv_service03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -252px 0;
  background-repeat: no-repeat;
}
.info_check_car03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -288px 0;
  background-repeat: no-repeat;
}
.info_as_info03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -324px 0;
  background-repeat: no-repeat;
}
.info_notificat_ion03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: 0px -36px;
  background-repeat: no-repeat;
}
.info_certificate03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -36px -36px;
  background-repeat: no-repeat;
}
.info_phone03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -72px -36px;
  background-repeat: no-repeat;
}
.info_receipt03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -108px -36px;
  background-repeat: no-repeat;
}
.info_record03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -144px -36px;
  background-repeat: no-repeat;
}
.info_document03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -180px -36px;
  background-repeat: no-repeat;
}
.info_graph_l03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -216px -36px;
  background-repeat: no-repeat;
}
.info_graph_r03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -252px -36px;
  background-repeat: no-repeat;
}
.info_graph_s03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -288px -36px;
  background-repeat: no-repeat;
}
.info_app03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -324px -36px;
  background-repeat: no-repeat;
}
.info_all03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: 0px -72px;
  background-repeat: no-repeat;
}
.info_cs_footer03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -36px -72px;
  background-repeat: no-repeat;
}
.info_phone_footer03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(/GHQ/p/img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -72px -72px;
  background-repeat: no-repeat;
}

.heart32.l::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7071 7.37377L19.0809 5H23.5858L27 8.41421V15.5858L16 26.5858L5 15.5858V8.41421L8.41421 5H12.9191L15.2929 7.37377L16 8.08088L16.7071 7.37377Z' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.heart32.f::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='%23000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.7071 7.37377L19.0809 5H23.5858L27 8.41421V15.5858L16 26.5858L5 15.5858V8.41421L8.41421 5H12.9191L15.2929 7.37377L16 8.08088L16.7071 7.37377Z' stroke='none' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.heart24.l::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4243 5.42426L14.2485 3.6H17.7515L20.4 6.24853V11.7515L12 20.1515L3.6 11.7515V6.24853L6.24853 3.6H9.75147L11.5757 5.42426L12 5.84853L12.4243 5.42426Z' stroke='%23AF6249' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.heart24.f::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='%23AF6249' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4243 5.42426L14.2485 3.6H17.7515L20.4 6.24853V11.7515L12 20.1515L3.6 11.7515V6.24853L6.24853 3.6H9.75147L11.5757 5.42426L12 5.84853L12.4243 5.42426Z' stroke='none' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.heart16.l::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.35355 3.68689L9.54044 2.5H11.7929L13.5 4.20711V7.79289L8 13.2929L2.5 7.79289V4.20711L4.20711 2.5H6.45956L7.64645 3.68689L8 4.04044L8.35355 3.68689Z' stroke='%23AF6249'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.heart16.f::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='%23CCCCCC' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.35355 3.68689L9.54044 2.5H11.7929L13.5 4.20711V7.79289L8 13.2929L2.5 7.79289V4.20711L4.20711 2.5H6.45956L7.64645 3.68689L8 4.04044L8.35355 3.68689Z' stroke='none'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.arrow16::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 11L8 5L2 11' stroke='%23000' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.add16::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 8.00003L14.5 8.00003' stroke='%23000' stroke-width='1.2'/%3E%3Cpath d='M7.99994 1.5L7.99994 14.5' stroke='%23000' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.add24::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 12L22 12' stroke='%23000' stroke-width='1.2'/%3E%3Cpath d='M12 2L12 22' stroke='%23000' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.add32::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.00006 16L29.0001 16' stroke='%23000' stroke-width='2'/%3E%3Cpath d='M16.0001 3L16.0001 29' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.close12::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.25 2.25012L9.74995 9.75012' stroke='%23000'/%3E%3Cpath d='M2.25 9.75L9.75 2.25005' stroke='%23000'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.close16::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 13L13 3M3 3L13 13' stroke='%23AF6249' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.close24::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 19.5L19.5 4.5M4.5 4.5L19.5 19.5' stroke='%23000' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.close32::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 26L26 6M6 6L26 26' stroke='%23AF6249' stroke-width='2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.star16::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.686 6.18105L14 6.57263L10.73 9.56L11.708 14L8 11.6442L4.292 14L5.276 9.56L2 6.57263L6.314 6.18737L8 2L9.686 6.18105Z' fill='%23AF6249' stroke='%23AF6249' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.star24::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.529 9.27158L21 9.85895L16.095 14.34L17.562 21L12 17.4663L6.438 21L7.914 14.34L3 9.85895L9.471 9.28105L12 3L14.529 9.27158Z' fill='%23AF6249' stroke='%23AF6249' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.star32::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.372 12.3621L28 13.1453L21.46 19.12L23.416 28L16 23.2884L8.584 28L10.552 19.12L4 13.1453L12.628 12.3747L16 4L19.372 12.3621Z' fill='%23AF6249' stroke='%23AF6249' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='bevel'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.hyundai {
  box-sizing: border-box;
  width: 200px !important;
}
.hyundai::before {
  content: "";
  display: inline-block;
  width: 160px;
  height: 32px;
  background-image: url("data:image/svg+xml,%3Csvg width='160' height='32' viewBox='0 0 160 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8029 26.2761C32.2929 26.2761 41.6058 21.678 41.6058 16.0031C41.6058 10.3281 32.2929 5.72461 20.8029 5.72461C9.31285 5.72461 0 10.3308 0 16.0031C0 21.6753 9.31426 26.2761 20.8029 26.2761ZM24.7179 21.2353C24.3387 22.4929 23.5209 23.5856 22.4027 24.3288C21.9669 24.523 21.4941 24.6279 21.0141 24.6371C20.9113 24.6371 20.8381 24.6371 20.8071 24.6371C17.2872 24.6624 13.7822 24.1925 10.4029 23.2424C10.3775 23.2356 10.3085 23.2085 10.2874 23.2003C10.0057 23.1121 9.86489 22.9871 9.86489 22.8377C9.86791 22.7749 9.88464 22.7134 9.91401 22.6572C9.94337 22.6011 9.9847 22.5515 10.0353 22.5118C10.0761 22.4697 10.1409 22.4195 10.224 22.3502C12.255 20.8685 14.5146 19.7032 16.9203 18.8969C18.5084 18.2728 20.1446 17.7693 21.814 17.3909C22.8702 17.1777 26.7866 16.5992 24.7193 21.2353H24.7179ZM35.2291 10.8849C35.2599 10.8182 35.3087 10.7607 35.3704 10.7184C35.4321 10.6762 35.5044 10.6506 35.5798 10.6445C35.7353 10.6437 35.8869 10.6914 36.0121 10.7803C38.4555 12.2306 39.9032 14.0395 39.9032 16.0017C39.9032 19.5447 35.1799 22.5892 28.4272 23.9214C27.9921 24.0029 27.7048 24.0015 27.6062 23.8956C27.568 23.8509 27.5471 23.7947 27.5471 23.7367C27.5471 23.6787 27.568 23.6226 27.6062 23.5778C27.6586 23.4922 27.7189 23.4113 27.7865 23.3361C30.7617 19.6232 33.2097 15.5441 35.0658 11.2067C35.1235 11.0832 35.1827 10.9609 35.2291 10.8849ZM16.9499 10.7491C17.3314 9.49375 18.1488 8.40302 19.2651 7.65972C19.7006 7.46504 20.1736 7.3605 20.6536 7.35281C20.7564 7.35281 20.8296 7.35281 20.8592 7.35281C24.3792 7.32623 27.8842 7.79561 31.2635 8.74609C31.286 8.74609 31.355 8.77868 31.3761 8.78683C31.6578 8.8751 31.7986 8.99732 31.7986 9.14941C31.7947 9.21218 31.7774 9.27351 31.7478 9.32957C31.7183 9.38564 31.6771 9.43525 31.6268 9.47532C31.5846 9.5147 31.5212 9.56766 31.4367 9.63556C29.4082 11.1176 27.151 12.2834 24.7474 13.0902C23.1603 13.7141 21.525 14.2172 19.8565 14.5949C18.7961 14.8108 14.8811 15.3852 16.9499 10.7491ZM13.1757 8.0834C13.6109 8.00192 13.8968 8.00328 13.9996 8.1092C14.0335 8.1552 14.0518 8.21026 14.0518 8.26673C14.0518 8.32319 14.0335 8.37826 13.9996 8.42425C13.9454 8.50872 13.8847 8.58907 13.8179 8.66461C10.8433 12.3788 8.39616 16.4594 6.54139 20.7981C6.48224 20.9203 6.42169 21.0425 6.3724 21.1226C6.34186 21.1889 6.29352 21.2462 6.23237 21.2884C6.17122 21.3307 6.09948 21.3564 6.02456 21.363C5.86837 21.3626 5.71623 21.3151 5.5894 21.2272C3.14888 19.7755 1.69696 17.9681 1.69696 16.0044C1.69696 12.4588 6.42169 9.41285 13.1757 8.0834Z' fill='%231D8ABC'/%3E%3Cpath d='M58.8949 8.62598V14.2439H52.2873V8.62598H48.647V23.3708H52.2873V17.4406H58.8949V23.3695H62.5339V8.62598H58.8949Z' fill='%231D8ABC'/%3E%3Cpath d='M75.2724 8.62772L71.4701 14.467L67.6678 8.62772H63.3726L69.6576 18.2693V23.3766H73.2825V18.2666L79.5676 8.625H75.2696L75.2724 8.62772Z' fill='%231D8ABC'/%3E%3Cpath d='M91.224 8.62207V19.4302C91.226 19.5286 91.2072 19.6263 91.1689 19.7176C91.1306 19.8088 91.0736 19.8916 91.0012 19.961C90.9288 20.0304 90.8426 20.085 90.7478 20.1214C90.653 20.1578 90.5515 20.1754 90.4495 20.173H84.6151V8.62207H80.9761V23.3669H91.731C92.1501 23.3999 92.5715 23.3447 92.9662 23.205C93.361 23.0654 93.7195 22.8447 94.017 22.5582C94.3145 22.2717 94.5438 21.9263 94.6892 21.5458C94.8345 21.1654 94.8924 20.7591 94.8588 20.3549V8.62207H91.224Z' fill='%231D8ABC'/%3E%3Cpath d='M109.006 8.62953H98.2471V23.3744H101.886V11.8221H107.725C107.826 11.8201 107.927 11.8378 108.021 11.8741C108.115 11.9105 108.201 11.9647 108.273 12.0337C108.345 12.1026 108.402 12.1848 108.44 12.2754C108.479 12.3659 108.498 12.463 108.496 12.5609V23.3744H112.131V11.6442C112.151 11.2414 112.086 10.8388 111.941 10.4606C111.796 10.0824 111.573 9.73626 111.286 9.44296C110.983 9.16615 110.624 8.95139 110.232 8.8116C109.841 8.67181 109.423 8.60988 109.006 8.62953Z' fill='%231D8ABC'/%3E%3Cpath d='M125.709 8.62465H114.952V23.3695H125.709C126.128 23.4011 126.549 23.345 126.943 23.2048C127.336 23.0646 127.694 22.8438 127.991 22.5575C128.288 22.2713 128.517 21.9264 128.662 21.5466C128.807 21.1668 128.866 20.7611 128.833 20.3575V11.6393C128.854 11.2362 128.79 10.8332 128.644 10.4546C128.499 10.076 128.276 9.72978 127.988 9.43672C127.685 9.16032 127.326 8.94591 126.935 8.80636C126.543 8.66681 126.126 8.60501 125.709 8.62465ZM125.197 12.5804V19.4137C125.2 19.5135 125.182 19.6129 125.144 19.7058C125.106 19.7988 125.049 19.8834 124.976 19.9546C124.904 20.0259 124.817 20.0823 124.721 20.1205C124.626 20.1587 124.523 20.1779 124.419 20.1769H118.586V11.8172H124.397C124.503 11.8121 124.608 11.8282 124.707 11.8646C124.806 11.901 124.896 11.9569 124.971 12.0287C125.047 12.1005 125.106 12.1867 125.144 12.2817C125.183 12.3767 125.201 12.4784 125.197 12.5804Z' fill='%231D8ABC'/%3E%3Cpath d='M134.79 8.62892C134.373 8.6082 133.955 8.66976 133.562 8.80984C133.17 8.94992 132.811 9.16559 132.508 9.4437C132.219 9.73624 131.996 10.0822 131.851 10.4606C131.705 10.839 131.641 11.242 131.663 11.645V23.3751H135.293V18.8123H141.904V23.3738H145.538V8.62892H134.79ZM141.904 11.8215V15.6238H135.292V12.5711C135.291 12.4726 135.311 12.375 135.35 12.2839C135.388 12.1928 135.446 12.11 135.518 12.0403C135.59 11.9706 135.676 11.9154 135.77 11.8779C135.864 11.8403 135.966 11.8211 136.068 11.8215H141.904Z' fill='%231D8ABC'/%3E%3Cpath d='M152 8.62793H148.361V23.3728H152V8.62793Z' fill='%231D8ABC'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.genesis {
  box-sizing: border-box;
  width: 200px !important;
}
.genesis::before {
  content: "";
  display: inline-block;
  width: 119px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='119' height='24' viewBox='0 0 119 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2253_63300)'%3E%3Cpath d='M59.1998 22.3003C59.1028 22.303 59.0074 22.2752 58.9269 22.221C53.6168 19.0437 48.2031 14.1397 47.0979 8.43105C46.7214 6.27457 47.5291 5.87229 48.8771 5.38517C51.3002 4.4985 56.8777 2.77441 59.1943 2.77441C61.511 2.77441 67.0912 4.4985 69.5143 5.38517C70.8623 5.87229 71.67 6.27457 71.2935 8.43105C70.202 14.1397 64.7746 19.0437 59.4645 22.221C59.3862 22.2735 59.294 22.3011 59.1998 22.3003Z' fill='null'/%3E%3Cpath d='M67.0696 21.2523C71.3264 20.5518 74.5327 19.884 80.5959 18.4227C80.8114 18.3679 80.8114 18.3159 80.5686 18.2886C77.8999 18.1271 75.6378 17.9656 74.0469 17.8316C73.6704 17.8042 73.6431 17.6701 73.8041 17.4539C74.2352 16.9066 74.6936 16.8081 75.8261 16.8081C76.8766 16.8081 79.518 16.8327 82.184 16.86C87.4668 16.8874 92.6677 15.541 99.1593 13.3873C99.2412 13.3599 99.2139 13.3052 99.132 13.3052C90.0536 13.5213 79.0323 13.6281 77.2532 13.6281C76.9803 13.6281 77.013 13.4392 77.2013 13.2258C77.6052 12.7387 78.0636 12.4978 79.5726 12.3884C81.6737 12.2269 99.5904 11.3649 102.529 11.2581C106.003 11.1241 108.131 10.5849 110.988 8.40383C112.024 7.61848 113.006 6.7636 113.927 5.84508C114.088 5.68361 114.088 5.57141 113.791 5.60151C108.347 6.0859 80.6231 8.67202 79.3297 8.84169C76.9585 9.13999 75.8806 9.78584 74.9911 11.187C72.055 15.7654 70.7616 18.0012 66.9332 21.0389C66.7722 21.1703 66.7722 21.3043 67.0696 21.2523ZM59.2 22.3005C59.103 22.3031 59.0076 22.2754 58.9271 22.2211C53.617 19.0439 48.2033 14.1398 47.0981 8.4312C46.7216 6.27473 47.5293 5.87244 48.8773 5.38532C51.3004 4.49865 56.8779 2.77457 59.1945 2.77457C61.5112 2.77457 67.0914 4.49865 69.5145 5.38532C70.8625 5.87244 71.6702 6.27473 71.2937 8.4312C70.2022 14.1398 64.7748 19.0439 59.4647 22.2211C59.3864 22.2736 59.2942 22.3013 59.2 22.3005ZM51.3331 21.2523C51.6305 21.3043 51.6305 21.1702 51.4695 21.0362C47.6493 17.993 46.3477 15.7572 43.4117 11.1843C42.5221 9.7831 41.4442 9.13725 39.073 8.83896C37.7796 8.6775 10.0531 6.10232 4.61205 5.60699C4.31462 5.57962 4.31462 5.68909 4.47562 5.85055C5.39664 6.76719 6.37849 7.62024 7.41444 8.40383C10.2687 10.5931 12.3998 11.1241 15.8735 11.2581C18.8123 11.3649 36.729 12.2269 38.8301 12.3884C40.3391 12.4978 40.7975 12.7387 41.2014 13.2258C41.3897 13.4392 41.417 13.6281 41.1495 13.6281C39.3704 13.6281 28.3491 13.5213 19.2707 13.3052C19.1888 13.3052 19.1616 13.3599 19.2434 13.3873C25.735 15.541 30.936 16.8874 36.2188 16.86C38.8847 16.8327 41.5261 16.8081 42.5767 16.8081C43.7091 16.8081 44.1675 16.9148 44.5986 17.4539C44.7596 17.6701 44.7323 17.8042 44.3558 17.8316C42.7649 17.9656 40.5028 18.1271 37.8342 18.2886C37.5913 18.3159 37.5913 18.3679 37.8069 18.4227C43.8701 19.8786 47.0763 20.5518 51.3331 21.2523ZM59.2 23.989C59.3127 23.9844 59.4233 23.9564 59.5247 23.9069C66.0463 20.6476 69.0889 17.6591 72.9172 11.4634C74.3444 9.09347 75.1521 7.88114 78.6284 7.35844C84.0722 6.57576 108.644 4.85168 113.496 4.17846C115.57 3.88291 116.135 3.55998 117.106 2.53648C117.267 2.37502 117.267 2.24092 116.97 2.26282C116.35 2.31481 91.83 3.35747 77.1304 3.9048C73.5203 4.09363 72.4425 4.01153 69.4245 3.01539C64.9521 1.64707 60.9109 0.700195 59.2109 0.700195C57.5109 0.700195 53.4806 1.6416 49.0001 3.01539C45.9821 4.01153 44.907 4.09363 41.2942 3.9048C26.5837 3.35747 2.06343 2.31481 1.45493 2.26282C1.1575 2.23545 1.1575 2.36954 1.31849 2.53648C2.26809 3.58188 2.83293 3.91575 4.91494 4.18941C9.75841 4.87357 34.3305 6.59765 39.7743 7.38033C43.2507 7.89208 44.0584 9.10441 45.4855 11.4853C49.3057 17.681 52.3564 20.6694 58.878 23.9288C58.9792 23.9747 59.0889 23.9989 59.2 23.9999V23.989Z' fill='%23000'/%3E%3Cpath d='M67.8364 8.97795C67.4599 8.77818 67.0615 8.66871 67.0615 8.32389C67.0615 8.15422 67.2252 8.01465 67.5444 8.01465C67.861 8.03012 68.1712 8.11021 68.4558 8.25L68.5404 7.79299C68.2357 7.68789 67.9158 7.63335 67.5936 7.63152C66.805 7.63152 66.3711 7.98455 66.3711 8.46894C66.3711 8.95332 66.7122 9.19688 67.1897 9.41855C67.6018 9.61011 67.9483 9.736 67.9483 10.037C67.9483 10.2642 67.7709 10.4119 67.4217 10.4119C67.0937 10.3964 66.772 10.3165 66.4748 10.1766L66.4257 10.7048C66.7596 10.7822 67.1008 10.8244 67.4435 10.8307C68.0765 10.8307 68.6441 10.5214 68.6441 9.96314C68.6441 9.40487 68.2348 9.19141 67.8364 8.97795ZM55.2516 8.08854L55.1451 7.6972H52.9622L52.8912 7.88056L53.0249 7.94897C53.0647 7.96472 53.0978 7.99374 53.1187 8.03113C53.1396 8.06853 53.1469 8.11201 53.1395 8.15422V10.7568H55.2461V10.3682H53.8163V9.36655H55.0524V8.98342H53.8163V8.08854H55.2516ZM63.4377 8.97795C63.0584 8.77818 62.66 8.66871 62.66 8.32389C62.66 8.15422 62.8238 8.01465 63.1458 8.01465C63.4623 8.0305 63.7723 8.11057 64.0571 8.25L64.1417 7.79299C63.837 7.68789 63.5171 7.63335 63.1949 7.63152C62.4063 7.63152 61.997 7.98455 61.997 8.46894C61.997 8.95332 62.3135 9.19688 62.7828 9.41855C63.1949 9.61011 63.5387 9.736 63.5387 10.037C63.5387 10.2642 63.3613 10.4119 63.012 10.4119C62.685 10.3964 62.3642 10.3164 62.0679 10.1766L62.0161 10.7048C62.35 10.7822 62.6912 10.8244 63.0339 10.8307C63.6669 10.8307 64.2372 10.5214 64.2372 9.96314C64.2372 9.40487 63.8552 9.19141 63.4514 8.97795H63.4377ZM64.6984 7.88329L64.8348 7.95171C64.8753 7.96692 64.9093 7.99561 64.9312 8.03298C64.953 8.07035 64.9614 8.11413 64.9549 8.15696V10.7568H65.6316V7.6972H64.7775L64.6984 7.88329ZM61.5167 8.09128L61.4103 7.69994H59.2273L59.1564 7.88329L59.2901 7.95171C59.3298 7.96745 59.3629 7.99647 59.3838 8.03387C59.4047 8.07127 59.4121 8.11474 59.4047 8.15696V10.7568H61.5112V10.3682H60.0814V9.36655H61.3202V8.98342H60.0814V8.08854L61.5167 8.09128ZM58.0703 9.78252L56.4331 7.69994H55.7864L55.7073 7.88329L55.8437 7.95171C55.8832 7.96577 55.9167 7.99302 55.9385 8.02889C55.9604 8.06476 55.9693 8.10708 55.9638 8.14875V10.7568H56.4467V8.77818L58.0267 10.7568H58.5724V7.6972H58.0894L58.0703 9.78252ZM51.3195 9.31182L51.6169 9.43497C51.656 9.44636 51.6899 9.47132 51.7124 9.5054C51.7349 9.53949 51.7446 9.58048 51.7397 9.62106V10.3025C51.5892 10.3846 51.4198 10.4252 51.2485 10.4202C50.6646 10.3983 50.2362 9.92756 50.2362 9.2434C50.2362 8.55925 50.6346 8.02013 51.3031 8.02013C51.6353 8.02744 51.9545 8.1503 52.2063 8.36768L52.34 7.86687C52.01 7.7114 51.6513 7.62658 51.2867 7.61784C50.3426 7.59595 49.5513 8.12412 49.5513 9.25982C49.5513 10.2669 50.2553 10.8416 51.1885 10.8416C51.6091 10.864 52.0264 10.756 52.3837 10.5324V9.1312H51.4177L51.3195 9.31182Z' fill='%23000'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2253_63300'%3E%3Crect width='119' height='24' fill='null'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
/*# sourceMappingURL=maps/guide_icon_GHQ.css.map */
