@charset "utf-8"; 
body{background:#fff;}
* {list-style:none;padding:0;margin:0;text-decoration: none;}
table {width:100%;border-spacing: 0;}
br {color:transparent;}
.header{position:relative;display:flex;justify-content: space-between;padding:20px;font-size:26px;height:auto; color:#fff; background:#141414;}
.header > div {}
.header em{color:#b9daff;}
.header span{display:inline-block;vertical-align:top;float:right;}
.header h1{display:inline-block;vertical-align:top;float:right;height:auto}

.content{display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;padding:15px;}
.content h1{float:left;font-size:50px;color:#002c5e;padding:0 0 25px; line-height:40px; letter-spacing:-3px;}
.content .ver_view{font-size:11px; color:#666;line-height:22px;}
.content div.box{width:100%;cursor:pointer;border:1px dashed #aaa; border-width:2px; background:#f1f1f1; padding:12px 14px 5px; margin-bottom:10px;}
.content h2{font-size:20px; color:#333; margin-bottom:13px;}
.content ol.atten{overflow:hidden;height:144px;}
.content ol.atten>li{list-style:decimal!important;font-size:14px;margin-left:40px;margin-bottom:8px;padding:0;line-height:120%;}
.content div.box.open ol.atten {height:auto;}
.content .coding_type {flex: 1 1 auto;}
.content .guide_menu {display:flex;justify-content: space-between;width: 100%;margin-bottom:10px}
.content .guide_menu li {flex:1;font-size:14px;background-color: #002c5e;margin-right:1px;border-radius: 5px;text-align: center;}
.content .guide_menu li a {color:#FFF;display: block;padding:7px 5px;}

.mt10{margin-top:10px;}
.mt30{margin-top:30px !important;}
.toolbar {display:none;}
.underline {text-decoration:underline;}
.underline.type2 {text-decoration:line-through;}
.font_color01  {color:#c00032;}
.sub_tit {font-weight: bold; font-size: 13px}
.text_bold {font-weight:bold}
.btm-border {position: relative; margin:30px 0 15px;}
.btm-border:after {content: ''; position: absolute;	bottom: 0; left: 0;	right: 0; height: 1px; background-color: #bbb;}

.coding_type h1{float:left;}
.coding_type a{padding:2px 10px;margin-left:15px;color:#fff; font-size:12px; border:1px solid #007fa8; border-radius:3px; background:#007fa8;}
.coding_type a.active{background:#888;}

header.guide_header {border-bottom:1px solid #ccc; color:#fff; height:60px; padding-top:20px; padding-left:20px;}
header.guide_header h1 {font-size:24px; font-weight:normal; color:#304989; font-weight:700}

.guide_container {padding:15px 10px; }
.guide_container:not(.type-font) h2 {color:#333;font-weight: bold;font-size:16px;}
.guide_container:not(.type-font) h3.title {color:#000; font-weight: bold;font-size:16px; margin: 60px 0 15px}
.guide_container:not(.type-font) h4.btm-border {font-size: 14px;}
.guide_container.type-font h2.title {color:#333;font-weight: bold;font-size:16px;}
.guide_container.type-font h3.title {color:#000; font-weight: bold;font-size:16px; margin: 60px 0 15px}
.guide_container.type-font h4.btm-border {font-size: 14px;}
.guide_container .contents_infor {max-width: 1120px; margin: 0 auto;}
.guide_container .contents_infor.guide-content {max-width: none;}
.guide_container .box_content {background:#eef1f6; padding:15px; margin-bottom:30px; border-radius:3px; border:1px solid #bccfef; font-size:16px;  color:#333; margin-top:10px}
.guide_container .box_content.type2 {background:#f0f0f0; padding:10px; margin-bottom:30px; border-radius:3px; border:1px dashed #333; font-size:14px; color:#666;}
.guide_container .box_content.type3 {background:none; padding:10px; margin-bottom:30px; border-radius:3px; border:1px dashed #333; font-size:14px; color:#666;}
.guide_container .box_content.type4 {background:#272822; color:#fff;}

/* .guide_container .list {font-size:0;} */
.guide_container .list > li:first-child {border-left:1px solid #ccc;}
.guide_container .list > li {display:inline-block; border-right:1px solid #ccc; border-top:1px solid #ccc; position:relative;}
.guide_container .list > li.on:after {display:block; content:""; position:absolute; top:-1px; left:0; width:100%; border-top:3px solid #243175;}
.guide_container .list > li > a {display:block; font-size:16px; padding:7px 15px 7px; }
.guide_container .list > li.on > a {background:#eef1f6;}

.guide_container .list.type02{margin-top:50px;}
.guide_container .list.type02 li {border:0; }
.guide_container .list.type02 li a {font-size:14px;}
.guide_container .list.type02 li.on a {background:none; color:#243175;}
.guide_container .list.type02 li.on:after {display:block; content:""; position:absolute; top:-1px; left:50%; margin-left:-3px; width:6px; height:6px; border-radius:50%;  border:0; background:#243175}

.guide_container .box_area .box {display:none; border:1px solid #ccc; padding:15px; font-weight:normal; color:#666}
.guide_container .box_area .box.on {display:block;}
.guide_container .box_area .class_list li {display:inline-block; width:170px;}
.guide_container .box_area .box .language-html {margin-bottom:30px;}
.guide_container .box_area.type02 {border-top:3px solid #f92672}

.cont_codGuide .coding_type:after{content: '';display: block;clear: both;overflow: hidden;}
.cont_codGuide .coding_type h1{float:left;}
.cont_codGuide .coding_type div{float:right;}
.cont_codGuide .coding_type div a{padding:2px 10px; color:#fff; font-size:12px; border:1px solid #007fa8; border-radius:3px; background:#007fa8;}
.cont_codGuide .coding_type div a.active{background:#888;}
.cont_codGuide .tab:after{content: '';display: block;clear: both;overflow: hidden;}
.cont_codGuide .tab{overflow:hidden; margin-bottom:30px;line-height:34px; border-bottom:3px solid #141414; border-top-left-radius:3px; }
.cont_codGuide .tab a{float:left;padding:5px 25px;color:#fff;font-size:16px;letter-spacing:-1px;background:#007fa8;}
.cont_codGuide .tab a:last-child{border-top-right-radius:3px;}
.cont_codGuide .tab a.active{background:#141414; color:#fff;}
.cont_codGuide .tab a + a{margin-left:1px;}
.cont_codGuide h2:after{content: '';display: block;clear: both;overflow: hidden;}
.cont_codGuide h2.tit{font-size:18px;color:#141414; font-weight: bold;}
.cont_codGuide .contents_infor .conIn_tip{line-height:20px; margin:20px 0 15px;font-weight:500;background:rgba(0, 170, 210, .1);border:1px dashed #00aad2;border-width:2px;padding:10px 15px;}
.cont_codGuide .contents_infor .conIn_tip em{font-weight:bold; font-size:13px;}
.cont_codGuide .contents_infor .step + .step{margin-top:15px;}
.cont_codGuide .view_code {color:#FFF;background-color:#111;padding:5px; display: block;font-size:12px}

table.guide_list {border-top:1px solid #bbb;border-left:1px solid #bbb; color:#666;}
table.guide_list tr:hover td{background:#fffad2!important;}
/*table tr:nth-child(2n){background:#eee;}*/
table.guide_list th,table.guide_list td{line-height:20px !important;border-bottom:1px solid #bbb;border-right:1px solid #bbb;font-size:13px}
table.guide_list thead th{padding:3px 8px;height:36px;background:#141414;color:#fff;}
table.guide_list tbody td{padding:2px 8px;height:30px; text-align:center;}
table.guide_list tbody th{padding:3px 8px 3px;background:#d2dde9;text-align:left;font-size:16px;height:30px;border-bottom:2px solid #bbb;}
table.guide_list tbody td a{display:block;background:#007fa8;color:#fff;font-size:11px;border-radius:4px;}
table.guide_list tbody td a.link_disabled {background:#999;cursor:default;}
table.guide_list tbody td.txtLeft{text-align:left;}
table.guide_list tbody td.end{background-color:#ddd;}

footer {margin-top:100px; text-align:center; padding:30px}

#listHead.fixed {position: fixed; top:0; width:calc(100% - 30px)}
#topBtn {position:fixed; right:15px; bottom:15px; z-index: 100; width:50px; height:50px; border-radius:25px; background-color:#000;}
#topBtn a {display: block; line-height: 50px; color:#fff; font-weight: bold; text-align: center;}

@media screen and (max-width: 1119px) {
	.guide_container {padding:20px; }
}













































/* Tree Styles */
UL.jqueryFileTree {font-size: 11px;line-height: 18px;padding: 0px;margin: 0px;}
UL.jqueryFileTree LI {list-style: none;padding: 0px;padding-left: 20px;margin: 0px;white-space: nowrap;}
UL.jqueryFileTree A {color: #333;text-decoration: none;display: block;padding: 0px 2px;}
UL.jqueryFileTree A:hover {	background: #BDF;}

/* Core Styles */
.jqueryFileTree LI.directory {background: url(../docs/img/directory.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt {background: url(../docs/img/txt.png) left top no-repeat; }